.developers {
  margin: 50px 0;
}

.developer {
  padding: 0 30px;

  &__image {
    min-height: 280px;
    width: 200px;
    border-radius: 50%;
    background-color: #3e3e3e;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }

  &__position {
    font-style: italic;
    font-weight: 300;
  }

  &__bio {
    line-height: 1.5em;
    font-weight: 300;
  }
}

@media only screen and (max-width: 883px) {
  .developers > .row-fluid {
    flex-direction: column;
  }

  .developer {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;
      justify-content: center;
      align-self: center;
    }

    & > h4, p {
      text-align: center;
    }
  }
}