.features {
  margin: 0 10%;

  &__horizontal-section {
    display: flex;
    flex-direction: row;
    margin: 0 40px;
  }

  &__vertical-section {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    .features__section__icon {
      justify-content: center;
      margin-bottom: 10px;
    }

    .features__section {
      text-align: center;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__icon {
      font-size: 66px !important;
      display: flex !important;
      align-items: center;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__paragrah {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      color: #3e3e3e;
    }
  }
}

@media only screen and (max-width: 1352px) {
  .features__container {
    flex-direction: column !important;

    & > div {
      flex-direction: column;
      margin: 50px 0;
    }
  }

  .features__section__icon {
    justify-content: center;
    margin-bottom: 10px;
  }
  .features__section {
    text-align: center;
  }

}
