$primaryColor: #4AB777;
$secondaryColor: #03864A;
$menuHoverColor: #419664;

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 15%;
}

.row-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15%;
}

.flex-self-end {
  display: flex;
  align-self: flex-end;
}

.title {

  &__black {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px;
  }

  &__white {
    @extend .title__black;
    color: #ffffff;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.all-caps {
  text-transform: uppercase;
}

@media only screen and (max-width: 978px) {
  .row-fluid {
    margin: 0 5%;
  }
  .row {
    margin: 0 5%;
  }
}